*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background:  rgb(166, 209, 223);
}

div {
    font-family: 'Montserrat', sans-serif;

}

nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
h1 { 

    color: rgb(245, 245, 245);   
}


h2 { 

    color: rgb(245, 245, 245);
    
}

li {
    list-style-type: none;
}

.fondo-img {
    background-image: url(../imagenes/fondo.jpg);
}

h1, h2 {
    display: flex;
    justify-content: center;
}

nav ul {
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 0;

} 

nav ul li {
    background-color: rgb(61, 60, 60);
    padding: 5px;
    display:flex;
    position: relative;

}

li a {

    color:  rgb(245, 245, 245);
    text-decoration: none; 
    text-transform: uppercase;
}

nav ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(243, 227, 6);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;    
}

nav ul li:hover::before {
    width: 100%;
}

.footer__img {
    max-height: 40px;
}







