*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background:  rgb(166, 209, 223);
}

div {
    font-family: 'Montserrat', sans-serif;

}

nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
h1 { 

    color: rgb(245, 245, 245);   
}


h2 { 

    color: rgb(245, 245, 245);
    
}

li {
    list-style-type: none;
}

.fondo-img {
    background-image: url(../imagenes/fondo.jpg);
}




    




.header {
    grid-area: header;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    background-color: black;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

nav ul {
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 0;

} 

nav ul li {
    background-color: rgb(61, 60, 60);
    padding: 5px;
    display:flex;
    position: relative;

}

li a {

    color:  rgb(245, 245, 245);
    text-decoration: none; 
    text-transform: uppercase;
}

nav ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;    
}

nav ul li:hover::before {
    width: 100%;
}

/* MAIN */

.main {
    grid-area: main;
}

.containerTexto {
    background-color: red;
    text-align: center;
    font-size: 1.2rem;
    border-style: solid;
}

.containerImg {
    background-color: blue;
    display: flex;
    justify-content: center;


}

.imagenInicio {
    border-width: 5px;
    width: 1000px;
    height: 600px;
    border-style: solid;
    
}

.imagenGaleria {
    border-width: 5px;
    width: 480px;
    height: 640px;
    border-style: solid;
}

.imagenGaleria__Horizontal {
    border-width: 5px;
    width: 640px;
    height: 480px;
    border-style: solid; 

}

.footer__img {
    max-height: 40px;
}


.titulosNegro {
    font-size: 2.5rem;
    color: rgb(7, 7, 7);
    text-align: center;
}





